# Global code owners - RUM Mobile Team

* @DataDog/rum-mobile @DataDog/rum-mobile-android

## Docs

/docs/ @DataDog/documentation @DataDog/rum-mobile 
*README.md @DataDog/documentation @DataDog/rum-mobile 
