
# IntelliJ
*.iml
.idea/

# Android Studio 3+
.navigation/
captures/
.externalNativeBuild

# Gradle files
.gradle/
build/

# CMake
.cxx/

# Local configuration file (sdk path, etc)
local.properties
repo/
config/*

# MacOS garbage
.DS_Store

