variables:
  CURRENT_CI_IMAGE: "21"
  CI_IMAGE_DOCKER: registry.ddbuild.io/ci/dd-sdk-android:$CURRENT_CI_IMAGE
  GIT_DEPTH: 5

  DD_SERVICE: "dd-sdk-android"
  DD_ENV_TESTS: "ci"
  DD_CIVISIBILITY_ENABLED: "true"
  DD_INSIDE_CI: "true"
  DD_COMMON_AGENT_CONFIG: "dd.env=ci,dd.trace.enabled=false,dd.jmx.fetch.enabled=false"

  KUBERNETES_MEMORY_REQUEST: "8Gi"
  KUBERNETES_MEMORY_LIMIT: "13Gi"

  EMULATOR_NAME: "android_emulator"
  ANDROID_ARCH: "arm64-v8a"
  ANDROID_API: "36"
  ANDROID_SDK_VERSION: "commandlinetools-mac-11076708_latest"

include:
  - local: 'ci/pipelines/default-pipeline.yml'
    rules:
      - if: '$CI_PIPELINE_KEY == null'
  - local: 'ci/pipelines/check-release-pipeline.yml'
    rules:
      - if: '$CI_PIPELINE_KEY == "check-release"'
