<?xml version="1.0" encoding="utf-8"?><!--
  ~ Unless explicitly stated otherwise all files in this repository are licensed under the Apache License Version 2.0.
  ~ This product includes software developed at Datadog (https://www.datadoghq.com/).
  ~ Copyright 2016-Present Datadog, Inc.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Platform.MaterialComponents"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity
            android:name=".log.ActivityLifecycleLogs"
            android:label="@string/activity_logs_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".trace.ActivityLifecycleTrace"
            android:label="@string/activity_logs_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".rum.GesturesTrackingPlaygroundActivity"
            android:label="@string/rum_gestures_tracking_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".rum.ActivityTrackingPlaygroundActivity"
            android:label="@string/rum_activity_view_tracking_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".rum.KioskSplashPlaygroundActivity"
            android:label="@string/activity_kiosk_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".rum.KioskTrackedPlaygroundActivity"
            android:label="@string/activity_kiosk_session"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".rum.FragmentTrackingPlaygroundActivity"
            android:label="@string/rum_activity_view_tracking_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".telemetry.TelemetryPlaygroundActivity"
            android:label="@string/activity_telemetry_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".sessionreplay.SessionReplayPlaygroundActivity"
            android:label="@string/session_replay_end_to_end"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:exported="true"
            android:name="com.datadog.android.sdk.ActivityProfiling"
            android:label="@string/activity_logs_profiling"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>